
.error {
    color:red;
    font-size: 18px;
}


.errorName{
    color:red;
    font-size: 18px;
}

.errorTelephone{
    color:red;
    font-size: 18px;
}
.errorDownload{
    color:red;
    font-size: 18px;
}

.errorEmail{
    color:red;
    font-size: 18px;
}
.errorButton{
    color:red;
    font-size: 18px;
}

.errorPassword{
    color:red;
    font-size: 18px;
}








